/* Yeti Syntax Theme for highlight.js */
/* Visible color-coded palette matching dark theme */

/* Comment */
.hljs-comment {
  color: #6a9955;
}

/* Keyword */
.hljs-keyword,
.javascript .hljs-function {
  color: #569cd6;
}

/* Type / Class / Title */
.hljs-title,
.hljs-section,
.hljs-type,
.css .hljs-hexcolor {
  color: #4ec9b0;
}

/* Attribute / Decorator / Symbol (@directives) */
.hljs-attribute,
.hljs-attr,
.hljs-symbol,
.hljs-selector-id,
.hljs-selector-class,
.css .hljs-id,
.css .hljs-class,
.css .hljs-pseudo {
  color: #c586c0;
}

/* String */
.hljs-string,
.hljs-value,
.hljs-inheritance,
.hljs-header,
.ruby .hljs-symbol,
.xml .hljs-cdata {
  color: #ce9178;
}

/* Number / Literal */
.hljs-number,
.hljs-preprocessor,
.hljs-pragma,
.hljs-built_in,
.hljs-literal,
.hljs-params,
.hljs-constant {
  color: #b5cea8;
}

/* Property / Variable */
.hljs-variable,
.hljs-name,
.hljs-tag,
.hljs-regexp,
.hljs-link,
.ruby .hljs-constant,
.xml .hljs-tag .hljs-title,
.xml .hljs-pi,
.xml .hljs-doctype,
.html .hljs-doctype {
  color: #9cdcfe;
}

/* Function */
.hljs-function,
.python .hljs-decorator,
.python .hljs-title,
.ruby .hljs-function .hljs-title,
.ruby .hljs-title .hljs-keyword,
.perl .hljs-sub,
.javascript .hljs-title,
.coffeescript .hljs-title {
  color: #dcdcaa;
}

/* Meta / Subst */
.hljs-meta {
  color: #d7ba7d;
}

/* Base */
.hljs {
  display: block;
  overflow-x: auto;
  background: #121212;
  color: #d4d4d4;
}

.coffeescript .javascript,
.javascript .xml,
.tex .hljs-formula,
.xml .javascript,
.xml .vbscript,
.xml .css,
.xml .hljs-cdata {
  opacity: 0.5;
}

/* Diff */
.hljs-addition {
  color: #b5cea8;
}

.hljs-deletion {
  color: #d16969;
}
